.page {
  @apply flex-1 flex flex-col h-full;
  background-color: #70cef0;
}

.home {
  @apply flex flex-col items-center justify-center gap-4 relative;
  animation: anim-bg 10s linear infinite;
  background-image: url(/bg-cloud3.jpg);
  background-size: cover;
  flex: 0 0 80vh;

  @keyframes anim-bg {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: -100vw;
    }
  }

  &:after {
    content: "";
    @apply w-full h-14;
    @apply absolute left-0 bottom-0;
    background-image: linear-gradient(180deg, transparent, #70cef0);
  }
}

.home_title {
  @apply text-8xl text-transparent font-bold text-center;
  background-image: linear-gradient(45deg, #d83cff, #ff2c7e);
  background-clip: text;

  @media (max-width: 1000px) {
    @apply text-6xl;
  }

  @media (max-width: 600px) {
    @apply text-4xl;
  }
}

.home_intro {
  @apply text-gray-600 text-2xl text-center font-bold;
  max-width: 60%;

  @media (max-width: 1000px) {
    @apply text-sm;
    max-width: 80%;
  }
}

.home_historia {
  @apply mx-auto flex flex-col flex-wrap gap-2 px-4 py-6 my-6 shadow-md rounded;
  background-color: #dce2cb;
  width: 80%;

  @media (max-width: 600px) {
    @apply p-2;
    width: 100%;
  }
}

.home_historia h3 {
  @apply text-3xl text-gray-700 font-bold;
  @media (max-width: 800px) {
    @apply text-lg;
  }
}
.home_historia p {
  @apply text-gray-600;
  font-size: 1em;
}
