.home {
  @apply flex-1 w-full flex flex-col items-center justify-center gap-4;
  animation: anim-bg 10s linear infinite;
  background-image: url(/bg-cloud.jpg);
  background-size: cover;

  @keyframes anim-bg {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: -100vw;
    }
  }
}

.home_title {
  @apply text-8xl text-transparent font-bold text-center;
  background-image: linear-gradient(45deg, #d83cff, #ff2c7e);
  background-clip: text;

  @media (max-width: 1000px) {
    @apply text-6xl;
  }

  @media (max-width: 600px) {
    @apply text-4xl;
  }
}

.home_intro {
  @apply text-gray-600 text-lg text-center;
  max-width: 60%;

  @media (max-width: 1000px) {
    @apply text-sm;
    max-width: 80%;
  }
}

.container {
  @apply w-full h-full flex flex-col gap-4 items-center justify-center pb-2;

  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  animation: AnimateBG 20s ease infinite;
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.hero {
  @apply w-full flex-1 flex flex-col items-center justify-center gap-6;
}

.title {
  @apply text-6xl font-bold text-white text-center;

  @media (max-width: 800px) {
    @apply text-4xl;
  }
}

.fecha {
  @apply flex items-center justify-center;
  @apply bg-white px-5 py-2 rounded-full;
  @apply text-base font-bold text-blue-700;

  @media (max-width: 800px) {
    @apply text-xs;
  }
}

.time {
  @apply flex justify-center gap-16 w-full;

  @media (max-width: 800px) {
    @apply gap-2;
  }
}

.part {
  @apply flex flex-col gap-2 items-center;
}

.value {
  @apply text-9xl text-center font-bold text-gray-100;

  @media (max-width: 800px) {
    @apply text-2xl;
  }
}

.label {
  @apply text-2xl text-center font-bold text-white;

  @media (max-width: 800px) {
    @apply text-xs;
  }
}

.mp {
  @apply flex items-center justify-between gap-6 rounded px-4 py-0;
  @apply text-white font-bold text-base;
  height: 60px;
  background-color: #01b1ea;
  font-family: sans-serif;
  img {
    @apply h-full;
  }
}
