.producto {
  @apply bg-gray-50 transition-all overflow-hidden rounded;
  border: 1px solid #eaeaea;

  &:hover {
    @apply shadow-lg;
  }
}

.contenedor {
  @apply flex flex-col items-center gap-4 p-2;
}

.nombre {
  @apply text-lg font-bold text-center p-2;
  color: #8a2ea1;
}

.btn {
  @apply text-sm text-white font-bold uppercase px-5 py-2 rounded-full cursor-pointer;
  background-color: #ff2c7e;
  max-width: 60%;
}
